{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Cauldron list</h1>

    <table class="record_properties table">
        <thead>
            <tr>
                <th>Id</th>
                <th>name</th>
                <th>cauldronType</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cauldron_show', { 'id': entity.id, 'company_id' : app.request.get('company_id') }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.cauldronType }}</td>
                <td>
                <ul>
                    <li class="btn btn-default" style="width:90px;">
                        <a href="{{ path('cauldron_show', { 'id': entity.id, 'company_id' : app.request.get('company_id') }) }}">show</a>
                    </li>
                    <li class="btn btn-default" style="width:90px;">
                        <a href="{{ path('cauldron_edit', { 'id': entity.id, 'company_id' : app.request.get('company_id') }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li class="btn btn-default" >
            <a href="{{ path('cauldron_new', { 'company_id' : app.request.get('company_id')}) }}">
                {% trans %}cauldron.new{%endtrans%}
            </a>
        </li>
        <li  class="btn btn-default" style="width:120px;">
            <a href="{{ path('company_show', { 'id' : app.request.get('company_id')}) }}">
                {% trans %}action.back_to_list{%endtrans%}
            </a>
        </li>
    </ul>
    {% endblock %}
