{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Car</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            
            <tr>
                <th>{% trans %}car.brand{%endtrans%}</th>
                <td>{{ entity.brand }}</td>
            </tr>
            
            <tr>
                <th>{% trans %}car.fuelType{%endtrans%}</th>
                <td>{{ entity.unitCost.fuelType }}</td>
            </tr>
            <tr>
                <th>Spalone paliwo</th>
                <td>
                    <ul>
                        {% for fuel in entity.fuel %}
                            <li>{{ fuel.volume }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li class="btn btn-default">
        <a href="{{ path('company_show',{ 'id': app.request.get('company_id')}) }}">
            {% trans %}action.back_to_list{%endtrans%}
        </a>
    </li>
    <li class="btn btn-default">
        <a href="{{ path('car_edit', { 'id': entity.id, 'company_id': app.request.get('company_id') }) }}">
            {% trans %}action.edit{%endtrans%}
        </a>
    </li>
    {{ form(delete_form) }}
</ul>
{% endblock %}
