<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% stylesheets 'bundles/inzreports/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset_url }}" />
        {% endstylesheets %}

        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block report %}
     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    {% if app.user %}
                    <li>
                        <a href="{{ path('company') }}">{% trans %}company.plural{% endtrans %}</a>
                    </li>
                    {#<li>#}
                        {#<a >{% trans %}reports{% endtrans %}</a>#}
                    {#</li>#}
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">{% trans %}action.logout{% endtrans %}</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="text-right">
                    <p class="text-warning">Choose language:</p>
                    <select id="language-switcher">
                        <option value="{{ path('switch_language',{'lang' : 'pl'}) }}" {% if app.request.locale == 'pl_PL' %}selected="selected"{% endif%}>Polski</option>
                        <option value="{{ path('switch_language',{'lang' : 'en'}) }}" {% if app.request.locale == 'en_US' %}selected="selected"{% endif %}>English</option>
                    </select>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% endblock %}
    <div class="container">
 <!-- Heading Row -->
        <div class="row">
           {% block body %}
           {% endblock %}
        </div>
        <!-- /.row -->

        <hr>
{% block footer %}
       
{% endblock %}               
                    
                    
        {% block javascripts %}
            
            <script type="text/javascript" src="{{ asset('bundles/inzreports/js/jquery.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
             {% javascripts
                '@InzReportsBundle/Resources/public/js/*'
             %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script type="text/javascript" >
                $(document).ready(function(){
                    $('#language-switcher').change(function(){
                    window.location = $(this).val();
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
